tml
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Dobrý kartáček - důležité informace
        link(rel="stylesheet" type="text/css" href="assets/css/important.css")
        link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
        link(rel="stylesheet" type="text/css" href="assets/css/main.css")
        link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
        link(rel="mask-icon" href="safari-pinned-tab.svg" color="#000000")
        meta(name="apple-mobile-web-app-title" content="Dobr&yacute; kart&aacute;ček")
        meta(name="application-name" content="Dobr&yacute; kart&aacute;ček")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="theme-color" content="#ffffff")
    body
        nav#navigation
            div#brand
                a(href="index.php")
                    img.logo(alt="logo" src="assets/img/dk_logo.svg")
            div#menu
                ul
                    li O nás
                    li.active
                        a(href="#terms") Všeobecné obchodní podmínky
                        ul
                            li
                                a(href="#zku") Základní ustanovení
                            li
                                a(href="#pus") Sdělení před uzavřením smlouvy
                            li
                                a(href="#sm") Smlouva
                                ul
                                    li
                                        a(href="#uzavreni_smlouvy") Uzavření smlouvy
                                    li
                                        a(href="#dodani_predmetu_koupe") Dodání předmětu koupě
                                    li
                                        a(href="#prechod_nebezpeci_skody") Přechod nebezpečí škody
                                    li
                                        a(href="#odpovednost_prodavajiciho") Odpovědnost Prodávajícího
                                    li
                                        a(href="#podstatne_poruseni_smlouvy") Podstatné porušení smlouvy
                                    li
                                        a(href="#nepodstatne_poruseni_smlouvy") Nepodstatné porušení smlouvy
                                    li
                                        a(href="#poruseni_smlouvy_obecne") Porušení smlouvy obecně
                                    li
                                        a(href="#zaruka_za_jakost") Záruka za jakost
                                    li
                                        a(href="#prodej_zakoupene_veci") Prodej zakoupené věci
                            li
                                a(href="#oos") Odstoupení od smlouvy
                                ul
                                    li
                                        a(href="") Spotřebitelem
                                    li
                                        a(href="") Ostatní případy
                                    li
                                        a(href="") Prodávajícím
                            li
                                a(href="#boi") Bezpečnost a ochrana informací
                            li
                                a(href="#pd") Provozní doba
                            li
                                a(href="#cy") Ceny
                            li
                                a(href="#obj") Objednávání
                            li
                                a(href="#pp") Platební podmínky
                                ul
                                    li
                                        a(href="") Vrácení peněz
                            li
                                a(href="#dp") Dodací podmínky
                            li
                                a(href="#zp") Záruční podmínky
                            li
                                a(href="#zvu") Závěrečná ustanovení
                    li
                        a(href="#data") Ochrana osobních údajů
                    li
                        a(href="#optionsp") Možnosti platby
                    li
                        a(href="optionst") Možnosti dopravy
                    li
                        a(href="#complaints") Reklamační řád
                    li
                        a(href="#faq") Často kladené dotazy
            div#copy
                span © 2019 Dobrý kartáček.
                span Všechna práva vyhrazena.
        main
            section#about
                h2 O nás
                h3 Připravujeme
            section#terms
                h2 Všeobecné obchodní podmínky
                div#zku
                    h3 Základní ustanovení
                    p.
                        Tento dokument Všeobecné obchodní podmínky („VOP“) upravují vztahy mezi smluvními stranami kupní smlouvy/licenční smlouvy,
                        kdy na jedné straně je společnost Dobrý kartáček, IČ ???, se sídlem Víta Nejedlého 655, 53701 Chrudim, jako prodávající (dále jen „Dobrý kartáček“ nebo „Prodávající“) a na straně druhé
                        je kupující (dále jen „Kupující“). Podrobnější informace o prodávajícím jsou uvedeny na webové stránce www.dobrykartacek.cz v sekci O nás.
                    p.
                        Kupujícím je spotřebitel nebo podnikatel. Spotřebitelem je každý člověk, který mimo rámec své podnikatelské činnosti nebo mimo rámec samostatného výkonu svého povolání uzavírá smlouvu s prodávajícím nebo s ní jiným způsobem jedná.  Podnikatelem je ten, kdo samostatně vykonává na vlastní účet a odpovědnost výdělečnou činnost živnostenským nebo obdobným způsobem se záměrem činit tak soustavně za účelem dosažení zisku. Za podnikatele je považován mj. pro účely ochrany spotřebitele také každá osoba, která uzavírá smlouvy související s vlastní obchodní, výrobní nebo obdobnou činností či při samostatném výkonu svého povolání, popřípadě osoba, která jedná jménem nebo na účet podnikatele. Podnikatelem se pro účely VOP rozumí ten, kdo jedná v souladu s předchozí větou v rámci své podnikatelské činnosti. Uvede-li Kupující v objednávce své identifikační číslo, pak bere na vědomí, že pro něj platí pravidla uvedená ve VOP pro podnikatele.
                    p.
                        Kupující podáním objednávky potvrzuje, že se před uzavřením smlouvy seznámil s těmito VOP, jejichž nedílnou součást tvoří sdělení před uzavřením smlouvy obsažená v článku II, Reklamační řád, Podmínky ochrany osobních údajů a dokument „Způsoby dopravy“, a že s nimi výslovně souhlasí, a to ve znění platném a účinném v momentě odeslání objednávky.
                    p.
                        Kupující si je vědom, že mu koupí produktů, jež jsou v obchodní nabídce prodávajícího, nevznikají žádná práva na používání registrovaných značek, obchodních názvů, firemních log, aj. prodávajícího nebo jeho smluvních partnerů, není-li v konkrétním případě zvláštní smlouvou sjednáno jinak.
                    p.
                        Kopii VOP obdrží Kupující jako přílohu potvrzení objednávky na zadanou e-mailovou adresu. Fakturu obsahující základní údaje smlouvy, vč. účtenky podle zákona o evidenci tržeb a daňového dokladu, obdrží Kupující formou odkazu ke stažení Faktury. Kupující s tímto souhlasí. Odkazy na Uvedené listiny jsou Kupujícímu zaslány na e-mailovou adresu, kterou Kupující uvede při objednávce, popřípadě jsou dostupné po přihlášení se do uživatelského profilu Kupujícího v záložce Moje nákupy. V případě zájmu o zaslání faktury v listinné podobě lze využít našeho kontaktního formuláře.
                div#pus
                    h3 Sdělení před uzavřením smlouvy
                    p.
                        hhovna
                div#sm
                    h3 Smlouva
                    h4#uzavreni_smlouvy Uzavření smlouvy
                    p.
                        Smlouvu může Kupující uzavřít tak, že přijme návrh k uzavření smlouvy v Internetovém obchodě provozovaném Prodávajícím tím, že požadované plnění (zboží, službu) vloží do košíku. Kupujícímu může při uzavírání smlouvy asistovat pracovník Dobrého kartáčku, ať už po telefonu nebo v emailové korespondenci. Než Kupující závazně potvrdí objednávku, má Kupující právo měnit jak požadované plnění, dopravu i způsob úhrady, tedy zkontrolovat všechny atributy, které si v průběhu objednávacího procesu zvolil. Kupní smlouva vzniká odesláním objednávky Kupujícím po zvolení dopravy a způsobu úhrady a přijetím objednávky Prodávajícím, za případné chyby při přenosu dat zapříčiněné technickými potížemi Prodávající nenese odpovědnost. Uzavření smlouvy Prodávající neprodleně potvrdí Kupujícímu informativním emailem na Kupujícím zadaný email.
                    p.
                        Přílohou potvrzovacího emailu je aktuální znění VOP včetně Reklamačního řádu Prodávajícího. Vzniklou smlouvu (včetně dohodnuté ceny) lze měnit nebo rušit pouze na základě dohody stran nebo na základě zákonných důvodů, není-li ve VOP uvedeno jinak.
                    p.
                        Pokud je s objednávaným zbožím poskytován jakýkoliv dárek, který Kupující nevyužije, je Kupující povinen kontaktovat Prodávajícího předem a sdělit jí, že o dárek nemá zájem. V takovém případě bude Kupujícímu prodáno zboží bez tohoto dárku. Neučiní-li tak, je Kupující v případě odstoupení od smlouvy povinen tento dárek dle článku 4 (Odstoupení od smlouvy), bodu 1 (Odstoupení od smlouvy) vrátit.
                    p.
                        Uzavřená smlouva je Prodávajícím archivována po dobu nejméně pěti let od jejího uzavření, nejdéle však na dobu dle příslušných právních předpisů, za účelem jejího úspěšného splnění a není přístupná třetím nezúčastněným stranám. Informace o jednotlivých technických krocích vedoucích k uzavření smlouvy jsou patrné z těchto obchodních podmínek, kde je tento proces srozumitelně popsán.
                    h4 Dodání předmětu koupě
                    p.
                        Kupní smlouvou se Prodávající zavazuje, že Kupujícímu odevzdá věc, která je předmětem koupě, a umožní mu nabýt vlastnické právo k ní, a Kupující se zavazuje, že věc převezme a zaplatí Prodávajícímu kupní cenu. Prodávající si vyhrazuje vlastnické právo k věci, a proto se Kupující stane vlastníkem teprve úplným zaplacením kupní ceny.
                    p.
                        Prodávající Kupujícímu odevzdá věc, jakož i doklady, které se k věci vztahují, a umožní Kupujícímu nabýt vlastnického práva k věci v souladu se smlouvou. Prodávající splní povinnost odevzdat věc Kupujícímu, umožní-li mu nakládat s věcí v místě plnění a včas mu to oznámí.
                    p.
                        Má-li Prodávající věc odeslat, odevzdá věc Kupujícímu předáním prvnímu dopravci k přepravě pro Kupujícího a umožní Kupujícímu uplatnit práva z přepravní smlouvy vůči dopravci, Prodávající odevzdá Kupujícímu – spotřebiteli až, jakmile mu věc předá dopravce.
                    p.
                        Prodávající odevzdá Kupujícímu předmět koupě v ujednaném množství, jakosti a provedení. Dodá-li Prodávající větší množství věcí, než bylo ujednáno, je kupní smlouva uzavřena i na přebytečné množství, ledaže je Kupující bez zbytečného odkladu odmítl.
                    p.
                        Není-li ujednáno, jak má být věc zabalena, zabalí Prodávající věc podle zvyklostí; nejsou-li, pak způsobem potřebným pro uchování věci a její ochranu. Stejným způsobem opatří Prodávající věc pro přepravu.
                    h4 Přechod nebezpečí škody
                    p.
                        Věc je vadná, nemá-li sjednané vlastnosti. Za vadu se považuje i plnění jiné věci a vady v dokladech nutných pro užívání věci.
                    p.
                        Právo Kupujícího z vadného plnění zakládá vada, kterou má věc při přechodu nebezpečí škody na Kupujícího, byť se projeví až později. Právo Kupujícího založí i později vzniklá vada, kterou Prodávající způsobil porušením své povinnosti.
                    p.
                        Kupující věc podle možnosti prohlédne co nejdříve po přechodu nebezpečí škody na věci a přesvědčí se o jejích vlastnostech a množství.
                    p.
                        Nebezpečí škody přechází na Kupujícího převzetím věci. Týž následek má, nepřevezme-li Kupující věc, ač mu s ní Prodávající umožnil nakládat.
                    p.
                        Škoda na věci, vzniklá po přechodu nebezpečí škody na věci na Kupujícího, nemá vliv na jeho povinnost zaplatit kupní cenu, ledaže Prodávající škodu způsobil porušením své povinnosti.
                    p.
                        Prodlením strany s převzetím věci vzniká druhé straně právo věc po předchozím upozornění na účet prodlévajícího vhodným způsobem prodat poté, co prodlévajícímu poskytla dodatečnou přiměřenou lhůtu k převzetí. To platí i tehdy, prodlévá-li strana s placením, kterým je předání věci podmíněno.
                    h4 Odpovědnost Prodávajícího
                    p.
                        Prodávající odpovídá Kupujícímu, že věc při převzetí nemá vady. Zejména Prodávající odpovídá Kupujícímu, že v době, kdy Kupující věc převzal,
                    ol
                        li má věc vlastnosti, které si strany ujednaly, a chybí-li ujednání, takové vlastnosti, které Prodávající nebo výrobce popsal nebo které Kupující očekával s ohledem na povahu zboží a na základě reklamy jimi prováděné;
                        li se věc hodí k účelu, který pro její použití Prodávající uvádí nebo ke kterému se věc tohoto druhu obvykle používá;
                        li je věc v odpovídajícím množství, <míře></míře> nebo hmotnosti;
                        li věc vyhovuje požadavkům právních předpisů;
                        li projeví-li se vada v průběhu šesti měsíců od převzetí, má se za to, že věc byla vadná již při převzetí;
                        li kupující je oprávněn uplatnit právo z vady, která se vyskytne u spotřebního zboží v době dvaceti čtyř měsíců od převzetí, není-li uvedeno jinak, to se však netýká:
                        ol
                            li u věci prodávané za nižší cenu na vadu, pro kterou byla nižší cena ujednána;
                            li na opotřebení věci způsobené jejím obvyklým užíváním;
                            li u použité věci na vadu odpovídající míře používání nebo opotřebení, kterou věc měla při převzetí Kupujícím;
                            li vyplýva-li to z povahy věci;
                            li u spotřebního zboží (např. kosmetika, drogistické výrobky apod.) je Kupující oprávněn uplatnit právo z vady do dvaceti čtyř (24) měsíců, není-li však na zboží uvedené datum spotřeby, v takovém případě se lhůta zkracuje pouze do data vyznačeného na obalu zboží.
                    h4 Podstatné porušení smlouvy
                    h4 Nepodstatné porušení smlouvy
                    h4 Porušení smlouvy obecně
                    h4 Záruka za jakost
                    h4 Prodej zakoupené věci
                h3#oos Odstoupení od smlouvy
                div#boi
                    h3 Bezpečnost a ochrana informací
                    p.
                        Ve věci ochrany a zpracování osobních údajů Kupujícího ze strany Prodávajícího se aplikují podmínky uvedené v dokumentu Ochrana osobních údajů.
                div#pd
                    h3 Provozní doba
                    p.
                        Objednávky přes internetový obchod Alzy: 24 hodin denně, 7 dní v týdnu.
                        V případě technických problémů nebo zásahu vyšší moci Prodávající nenese odpovědnost za nedodržení provozní doby.
                div#cy
                    h3 Ceny
                    p.
                        Všechny ceny jsou smluvní. Internetový obchod www.dobrykartacek.cz vede vždy aktuální a platné ceny, v české měně (Kč) s výjimkou případů, kdy dojde k uvedení chybné ceny viz ustanovení níže v tomto článku. Všechny ceny jsou smluvní. Internetový obchod www.dobrykartacek.cz vede vždy aktuální a platné ceny, v české měně (Kč) s výjimkou případů, kdy dojde k uvedení chybné ceny viz ustanovení níže v tomto článku. Ceny uvedené u jednotlivých produktů jsou konečné, tj. včetně DPH, popř. všech dalších daní a poplatků, které musí spotřebitel pro získání zboží zaplatit, to se však netýká případných poplatků za dopravné, dobírečné a nákladů na komunikace prostředky na dálku, které jsou uváděny až v rámci tzv. nákupního košíku a jejich výše se odvíjí od volby Kupujícího.
                    p.
                        Kupující však bere na vědomí, že konečné ceny u produktů jsou uváděny po zaokrouhlení na celé koruny v souladu s příslušnými právními předpisy, ve specifických situacích tedy může v konečném součtu všech zakupovaných produktů dojít k nepatrné odchylce od takto uvedené kupní ceny, toto je dáno právě v důsledku zaokrouhlením na celé koruny. Podrobný rozpis kupní ceny, vč. haléřů, je vždy uveden v košíku Kupujícího.
                    p.
                        Akční ceny platí do vyprodání zásob při uvedení počtu kusů akčního zboží nebo po dobu časově určenou. Původní cena znamená cenu zboží, za niž předmětné zboží Prodávající nabízel bez zohlednění veškerých možných bonusů, marketingových kampaní na podporu prodeje a jiných slevových akcích na jím provozovaném Internetovém obchodu, nebo cenu nezávazně doporučenou výrobcem či distributorem, přičemž bude zobrazena vždy ta z cen, která lépe reflektuje cenovou hladinu daného výrobku na trhu.
                    p.
                        Kupující bere na vědomí, že mohou nastat případy, kdy nedojde k uzavření smlouvy mezi Prodávajícím a Kupujícím, a to zejména v případě, kdy Kupující objedná zboží za cenu zveřejněnou omylem v důsledku chyby ve správě Internetového obchodu, je Prodávající oprávněn od kupní smlouvy odstoupit, a to i poté, co Kupující obdržel e-mail potvrzující jeho objednávku. Prodávající v takovém případě Kupujícího informuje o takové skutečnosti. Příklady, kdy může dojít k chybně zveřejněné ceně jsou zejména následující:
                    ol
                        li cena zboží je na první pohled nesprávná (např. nezohledňuje nákupní cenu);
                        li u ceny zboží přebývá nebo chybí jedna či více cifer;
                        li sleva na zboží přesahuje 50 %, aniž by zboží bylo součástí zvláštní marketingové kampaně či výprodejové akce označené speciálním symbolem.
                    p.
                        Prodávající si vyhrazuje právo prohlásit kupní smlouvu za neplatně uzavřenou, pokud došlo ke zneužití osobních údajů, zneužití platební karty apod., nebo z důvodu zásahu správního či soudního orgánu, o takovémto postupu bude Kupující informován.
                    p.
                        Dále si Prodávající vyhrazuje právo prohlásit kupní smlouvu za neplatně uzavřenou, pokud dojde k neoprávněnému užití slevového nebo obdobného poukazu v rozporu s jeho podmínkami, zejména se jedná o případy kdy:
                    ol
                        li slevový poukaz je použit na jiné zboží, než pro které byl určen;
                        li slevový poukaz je použit ve spojení s jinou slevou, i přesto, že sčítání těchto slev nebylo výslovně povoleno;
                        li slevový poukaz je použit na nákup, který nedosahuje minimální stanovené ceny.
                    p.
                        Kupující bere na vědomí, že v uvedených případech nemůže kupní smlouva platně vzniknout a zároveň Kupující bere na vědomí, že je Prodávající oprávněna požadovat mimo jiné bezdůvodné obohacení.
                div#obj
                    h3 Objednávání
                div#pp
                    h3 Platební podmínky
                div#dp
                    h3 Dodací podmínky
                    h4 Způsoby dodání
                    p.
                        Prodávající zajišťuje či zprostředkovává následující způsoby dodání:
                    ol
                        li Česká pošta - balík do ruky
                        li Česká pošta - balík na poštu
                    p.
                        Jednotlivé způsoby dopravy jsou nabízeny dle aktuální dostupnosti jednotlivých služeb a s ohledem na kapacitu a dojezdové možnosti. V případě zásahu vyšší moci či technických problémů, Prodávající nenese zodpovědnost za opožděné dodání zboží.
                    p.

                    h4 Ostatní podmínky
                    p.
                        
                div#zp
                    h3 Záruční podmínky
                    p.
                        Záruční podmínky na zboží se řídí Reklamačním řádem Prodávajícího a příslušnými právními předpisy ČR. Jako záruční list slouží doklad o zakoupení. Pro více podrobností viz Reklamační řád.
                div#zvu
                    h3 Závěrečná ustanovení
                    p.
                        Vztahy a případné spory, které vzniknou na základě smlouvy, budou řešeny výhradně podle práva České republiky a budou řešeny příslušnými soudy České republiky. Úmluva OSN o smlouvách o mezinárodní koupi zboží (CISG) se v souladu s čl. 6 této úmluvy neuplatní.
                    p.
                        Případné spory mezi Prodávajícím a Kupujícím lze řešit také mimosoudní cestou. V takovém případě může Kupující kontaktovat subjekt mimosoudního řešení sporu, kterým je například Česká obchodní inspekce či spor řešit on-line prostřednictvím k tomu určené  ODR platformy. Více informací o mimosoudním řešení sporů naleznete zde. Před přistoupením k řešení sporu třetí stranou, Prodávající nejdříve doporučuje Kupujícímu využít kontakt na Prodávajícího pro vyřešení nastalé situace.
                    p.
                        Smlouva je uzavírána v českém jazyce. Pokud vznikne pro potřebu kupujícího překlad textu smlouvy, platí, že v případě sporu o výklad pojmů se uplatní výklad smlouvy v českém jazyce.
                    p.
                        Tyto Všeobecné obchodní podmínky včetně jejich součástí jsou platné a účinné od 31. 5. 2019 a ruší předchozí znění VOP včetně jejích součástí, přičemž jsou k dispozici v elektronické podobě na www.dobrykartacek.cz.
            section#data
                h2 Ochrana osobních údajů
                p.
                    Tento dokument Všeobecné obchodní podmínky („VOP“) upravují vztahy mezi smluvními stranami kupní smlouvy/licenční smlouvy,
                    kdy na jedné straně je společnost Dobrý kartáček, IČ ???, se sídlem Víta Nejedlého 655, 53701 Chrudim, jako prodávající (dále jen „Dobrý kartáček“ nebo „prodávající“) a na straně druhé
                    je kupující (dále jen „Kupující“). Podrobnější informace o prodávajícím jsou uvedeny na webové stránce www.dobrykartacek.cz v sekci O nás.

            section#optionsp
                h2 Možnosti platby
                div.methods
                    .method
                        img.icon(alt="platební metoda" src="assets/img/transfer.svg")
                        h3 bankovní převod
                        h4 platba předem
                        p V aplikaci on-line bankovnictví Vaší banky zvolte možnost nové platby a udejte jí následující parametry:
                        ul
                            li Číslo účtu, na který platbu provádíte bude <mark>12345678/0000</mark>;
                            li Variabilní symbol bude <mark>číslo Vaší objednávky</mark>, které naleznete na daňovém dokladu objednávky;
                            li Zpráva pro příjemce bude obsahovat <mark>Vaše jméno a příjmení</mark>.
                    .method
                        img.icon(alt="platební metoda" src="assets/img/delivery.svg")
                        h3 dobírka
                        h4 platba při převzetí
                        p Zboží zaplatíte v hotovosti dopravci při dodání, přímo na Vámi určené adrese.
            section#optionst
                h2 Možnosti dopravy
                .methods
                    .method
                        img.logo(alt="dopravní metoda" src="assets/img/delivery_post_logo.svg")
                        h3 Česká pošta
                        h4 Balík do ruky
                        p Kurýr České pošty doručí Vaší zásilku obvykle do 24 hodin od předání zásilky do přepravy na Vámi určenou adresu.
                    .method
                        img.logo(alt="dopravní metoda" src="assets/img/delivery_post_logo.svg")
                        h3 Česká pošta
                        h4 Balík na poštu
                        p Kurýr České Pošty zásilku doručí a uloží na příslušnou poštu dle Vámi určeného poštovního směrovacího čísla, načež Vás Česká Pošta pomocí SMS informuje o možnosti vyzvednutí si zásilky.
            section#complaints
                h2 Reklamační řád
                h3 ???
            section#faq
                h2 Často kladené dotazy
                h3 Připravujeme
        script(type="text/javascript" src="assets/js/control.js")         