@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  width: 100%;
  overflow-x: hidden;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: border-box; }

@font-face {
  src: url("../font/Roboto-Light.ttf") format("truetype");
  font-family: "Roboto-Light"; }
@font-face {
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto-Regular"; }
@font-face {
  src: url("../font/Dosis-ExtraBold.ttf") format("truetype");
  font-family: "Dosis-ExtraBold"; }
@font-face {
  src: url("../font/Dosis-Medium.ttf") format("truetype");
  font-family: "Dosis-Medium"; }
@font-face {
  src: url("../font/Roboto-Light.ttf") format("truetype");
  font-family: "Roboto-Light"; }
@font-face {
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto-Regular"; }
@font-face {
  src: url("../font/Dosis-ExtraBold.ttf") format("truetype");
  font-family: "Dosis-ExtraBold"; }
@font-face {
  src: url("../font/Dosis-Medium.ttf") format("truetype");
  font-family: "Dosis-Medium"; }
::selection {
  background: #BCBCBC; }

body {
  overflow-x: hidden;
  font-family: "Roboto-Regular", sans-serif; }

header, section, footer {
  display: flex;
  width: 100vw; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis-ExtraBold", sans-serif; }

h1 {
  margin: 0 0 1vmin 0;
  color: #52c234;
  font-size: 8vmin; }

h2 {
  font-size: 5vmin; }

h3 {
  font-size: 2.5vmin;
  text-transform: uppercase;
  letter-spacing: 0.1vmin;
  color: #52c234; }

h4 {
  font-size: 3vmin; }

h5, h6 {
  font-size: 2.5vmin;
  text-transform: uppercase; }

mark {
  background: none;
  color: #52c234; }

p {
  font-size: 2vmin; }

button {
  padding: 2vmin;
  background: #52c234;
  border: none;
  -webkit-box-shadow: 5px 5px 25px 1px #BCBCBC;
  -moz-box-shadow: 5px 5px 25px 1px #BCBCBC;
  box-shadow: 5px 5px 25px 1px #BCBCBC;
  font-family: "Dosis-ExtraBold", sans-serif;
  font-size: 2.5vmin;
  text-transform: uppercase;
  color: #fff; }

input:-webkit-autofill {
  background: transparent; }

.logo {
  width: 6vmin;
  height: 6vmin; }

.logo_full {
  width: 40vmin; }

.partner-logo {
  width: 25vmin; }

.icon {
  width: 5vmin;
  height: 5vmin; }

*[data-role] {
  cursor: pointer; }

#header {
  justify-content: space-between;
  height: 100vh;
  padding: 5vmin;
  background: linear-gradient(#fff, #EAEAEA);
  color: #fff; }
  #header > div {
    width: 49%;
    display: flex;
    flex-direction: column; }
    #header > div#intro {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    #header > div #navigation {
      z-index: 101;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 10vh;
      padding: 0 2vmin;
      background: #fff;
      -webkit-box-shadow: 5px 5px 25px 1px #BCBCBC;
      -moz-box-shadow: 5px 5px 25px 1px #BCBCBC;
      box-shadow: 5px 5px 25px 1px #BCBCBC;
      color: #000;
      text-transform: uppercase; }
      #header > div #navigation.pinned {
        position: fixed;
        top: 0;
        width: 100% !important;
        margin-left: -5vmin;
        padding: 0 5vmin 0 5vmin;
        transition: all 0.3s;
        font-size: 2vmin; }
        #header > div #navigation.pinned #menu {
          width: 50%; }
      #header > div #navigation #brand {
        display: flex;
        width: 40%; }
      #header > div #navigation #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%; }
        #header > div #navigation #menu a {
          font-family: "Dosis-ExtraBold", sans-serif; }
          #header > div #navigation #menu a:hover {
            color: #DD3B4E;
            transition: 0.3s; }
          #header > div #navigation #menu a:not(:hover) {
            color: #000;
            transition: 0.3s; }
          #header > div #navigation #menu a#ct::after {
            content: "|";
            display: inline-flex;
            position: relative;
            margin: 0 0 0 0.5vmin;
            color: #DD3B4E; }
    #header > div > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70vh; }
      #header > div > div button {
        width: 50%; }
      #header > div > div p {
        font-family: "Roboto-Light", sans-serif;
        font-size: 5vmin;
        color: #000; }
  #header .carousel {
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 5px 5px 25px 1px #BCBCBC;
    -moz-box-shadow: 5px 5px 25px 1px #BCBCBC;
    box-shadow: 5px 5px 25px 1px #BCBCBC; }
    #header .carousel .images {
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      left: 0;
      top: 0; }
      #header .carousel .images img {
        min-height: 100%;
        max-height: 100%;
        object-fit: cover; }
    #header .carousel .controls {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      #header .carousel .controls .prev,
      #header .carousel .controls .next {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        transition: 0.3s all; }
        #header .carousel .controls .prev:hover,
        #header .carousel .controls .next:hover {
          height: 20%;
          opacity: 1; }
        #header .carousel .controls .prev svg,
        #header .carousel .controls .next svg {
          fill: #fff;
          border: 2px solid white;
          border-radius: 50%; }
      #header .carousel .controls .prev {
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }
        #header .carousel .controls .prev svg {
          transform: rotate(90deg); }
      #header .carousel .controls .next {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }
        #header .carousel .controls .next svg {
          transform: rotate(90deg); }
    #header .carousel .status {
      width: 20%;
      height: 100%;
      position: absolute;
      right: 3vmin;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      #header .carousel .status .bar {
        display: block;
        width: 1.5vmin;
        height: 1.5vmin;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
        margin: 1vmin 0; }
        #header .carousel .status .bar.active {
          background: #EAEAEA; }

#shop {
  justify-content: space-between;
  height: 90%;
  padding: 5vmin;
  background: #EAEAEA; }
  #shop #categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 23%;
    height: 100%;
    background: #fff;
    -webkit-box-shadow: 5px 5px 25px 1px #BCBCBC;
    -moz-box-shadow: 5px 5px 25px 1px #BCBCBC;
    box-shadow: 5px 5px 25px 1px #BCBCBC; }
    #shop #categories .category, #shop #categories .category .subcategory, #shop #categories .category.active > div:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20%;
      background: #fff;
      cursor: pointer;
      text-align: center; }
      #shop #categories .category:hover h3, #shop #categories .category .subcategory:hover h3, #shop #categories .category.active > div:hover:first-of-type h3 {
        color: #52c234;
        transition: all 0.25s; }
      #shop #categories .category:not(:hover) h3, #shop #categories .category .subcategory:not(:hover) h3, #shop #categories .category.active > div:not(:hover):first-of-type h3 {
        color: inherit;
        transition: all 0.25s; }
      #shop #categories .category h3, #shop #categories .category .subcategory h3, #shop #categories .category.active > div:first-of-type h3 {
        color: #000; }
      #shop #categories .category .subcategory, #shop #categories .category.active > div:first-of-type .subcategory {
        display: none;
        background: #fff;
        pointer-events: all; }
      #shop #categories .category.active, #shop #categories .category .active.subcategory, #shop #categories .category.active > div.active:first-of-type {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        pointer-events: none !important; }
        #shop #categories .category.active > div:first-of-type, #shop #categories .category .active.subcategory > div:first-of-type, #shop #categories .category.active > div.active:first-of-type > div:first-of-type {
          height: 10%;
          background: #000;
          cursor: default;
          color: white;
          pointer-events: none !important; }
          #shop #categories .category.active > div:first-of-type:hover:before, #shop #categories .category .active.subcategory > div:first-of-type:hover:before, #shop #categories .category.active > div.active:first-of-type > div:first-of-type:hover:before {
            cursor: pointer; }
          #shop #categories .category.active > div:first-of-type::before, #shop #categories .category .active.subcategory > div:first-of-type::before, #shop #categories .category.active > div.active:first-of-type > div:first-of-type::before {
            display: block;
            content: "➜";
            transform: rotate(180deg);
            position: absolute;
            left: 5.75%;
            font-size: 3vmin;
            color: white;
            pointer-events: all; }
          #shop #categories .category.active > div:first-of-type h3, #shop #categories .category .active.subcategory > div:first-of-type h3 {
            color: white; }
        #shop #categories .category.active .subcategory, #shop #categories .category .active.subcategory .subcategory, #shop #categories .category.active > div.active:first-of-type .subcategory {
          display: flex;
          height: 20%; }
  #shop #products, #shop #product-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 75%;
    height: 100%;
    background: #fff;
    -webkit-box-shadow: 5px 5px 25px 1px #BCBCBC;
    -moz-box-shadow: 5px 5px 25px 1px #BCBCBC;
    box-shadow: 5px 5px 25px 1px #BCBCBC; }
    #shop #products .product, #shop #product-detail .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 33.33%; }
      #shop #products .product div, #shop #product-detail .product div {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(188, 188, 188, 0.5);
        cursor: pointer; }
      #shop #products .product h4, #shop #product-detail .product h4 {
        display: none; }
      #shop #products .product:hover div, #shop #product-detail .product:hover div {
        display: flex;
        -webkit-transition: display 1s;
        -moz-transition: display 1s;
        -ms-transition: display 1s;
        -o-transition: display 1s;
        transition: display 1s; }
      #shop #products .product:hover h4, #shop #product-detail .product:hover h4 {
        display: block; }
  #shop #product-detail {
    display: none;
    flex-direction: row; }
    #shop #product-detail > div {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%; }
      #shop #product-detail > div:first-of-type {
        justify-content: center; }
      #shop #product-detail > div:last-of-type {
        justify-content: space-between;
        padding: 5vmin; }
    #shop #product-detail .product-image {
      height: 75%; }
    #shop #product-detail .product-info > div:first-of-type {
      margin: 0 0 3vmin 0; }
      #shop #product-detail .product-info > div:first-of-type > div {
        display: flex;
        flex-direction: row;
        align-items: flex-end; }
        #shop #product-detail .product-info > div:first-of-type > div h5 {
          margin: 0 0 1vmin 1vmin;
          font-family: "Dosis-Medium", sans-serif; }
    #shop #product-detail .product-info > div:last-of-type table {
      width: 100%; }
      #shop #product-detail .product-info > div:last-of-type table tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 1vmin; }
    #shop #product-detail .product-info h4 {
      margin: 0 0 1vmin;
      font-size: 5vmin; }
    #shop #product-detail .product-info p {
      font-family: "Roboto-Light", sans-serif;
      font-size: 2.5vmin;
      text-align: justify; }
    #shop #product-detail .product-control {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 17.5vh; }
      #shop #product-detail .product-control > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        #shop #product-detail .product-control > div:first-of-type {
          justify-content: flex-end; }
          #shop #product-detail .product-control > div:first-of-type > div {
            display: flex;
            flex-direction: column;
            width: 45%; }
            #shop #product-detail .product-control > div:first-of-type > div input {
              width: 100%;
              height: 2.5vmin;
              padding: 2.5vmin 1vmin;
              background: transparent;
              border-bottom: 0.1vmin solid #000;
              outline-color: #52c234;
              font-family: "Dosis-ExtraBold", sans-serif;
              text-align: right; }
              #shop #product-detail .product-control > div:first-of-type > div input[type='number'] {
                -moz-appearance: textfield; }
                #shop #product-detail .product-control > div:first-of-type > div input[type='number']::-webkit-inner-spin-button, #shop #product-detail .product-control > div:first-of-type > div input[type='number']::-webkit-outer-spin-button {
                  display: none;
                  -webkit-appearance: none;
                  margin: 0; }
            #shop #product-detail .product-control > div:first-of-type > div label {
              margin: 1vmin 0 0;
              font-family: "Dosis-ExtraBold", sans-serif;
              font-size: 1.5vmin;
              text-align: right; }
        #shop #product-detail .product-control > div button {
          width: 45%; }
          #shop #product-detail .product-control > div button:first-of-type {
            background: #DD3B4E; }

#contact {
  justify-content: space-between;
  height: 90%;
  padding: 5vmin;
  background-color: #EAEAEA; }
  #contact h3 {
    margin: 0 0 1vmin; }
  #contact > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    height: 100%; }
    #contact > div #contact-info {
      height: 35%; }
      #contact > div #contact-info ul li {
        margin: 0.5vmin 0 0; }
    #contact > div #help {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 65%;
      background: white;
      -webkit-box-shadow: 5px 5px 25px 1px #BCBCBC;
      -moz-box-shadow: 5px 5px 25px 1px #BCBCBC;
      box-shadow: 5px 5px 25px 1px #BCBCBC; }
      #contact > div #help #help-control {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 25%;
        padding: 2vmin;
        background: url("../img/artwork.svg") no-repeat center center/cover;
        color: #fff; }
        #contact > div #help #help-control p {
          line-height: 1.1; }
      #contact > div #help form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 75%;
        padding: 2vmin;
        background: transparent; }
        #contact > div #help form div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          margin: 0 0 2vmin 0; }
        #contact > div #help form input {
          font-family: "Dosis-ExtraBold", sans-serif; }
          #contact > div #help form input:not([type="submit"]) {
            width: 49%;
            height: 5vmin;
            padding: 0 0 0 1vmin;
            background: transparent;
            border-bottom: 0.1vmin solid #BCBCBC;
            outline-color: #52c234; }
          #contact > div #help form input[type="submit"] {
            width: 50%;
            padding: 2vmin;
            background: #52c234;
            font-size: 1.75vmin;
            text-transform: uppercase;
            color: white; }
        #contact > div #help form textarea {
          width: 100%;
          height: 20vmin;
          padding: 1vmin;
          background: transparent;
          border: 0.1vmin solid #BCBCBC;
          outline-color: #52c234;
          font-family: "Dosis-ExtraBold", sans-serif;
          font-size: 1.5vmin;
          resize: none; }
    #contact > div #important {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 35%;
      background: #000;
      color: #fff; }
      #contact > div #important ul li {
        margin: 0 0 0.75vmin;
        font-size: 1.75vmin; }
        #contact > div #important ul li a:hover {
          border-bottom: 0.1vmin solid white; }
        #contact > div #important ul li a:not(:hover) {
          border: none; }
    #contact > div #partners {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50%;
      background: white; }
      #contact > div #partners h3 {
        color: #000; }
      #contact > div #partners > div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        height: 70%; }
        #contact > div #partners > div:first-of-type {
          height: 30%;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
    #contact > div #copy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 15%;
      background: #fff;
      color: #000; }
    #contact > div:last-of-type {
      -webkit-box-shadow: 5px 5px 25px 1px #BCBCBC;
      -moz-box-shadow: 5px 5px 25px 1px #BCBCBC;
      box-shadow: 5px 5px 25px 1px #BCBCBC; }
  #contact h2 {
    margin: 0 0 1vmin;
    letter-spacing: 0.1vmin;
    color: #52c234; }
  #contact address {
    margin: 1vmin 0 0;
    font-family: "Dosis-ExtraBold", sans-serif;
    font-size: 3vmin;
    color: #000; }

/* modal styles */
#modal {
  display: none;
  z-index: 1000;
  position: fixed;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #EAEAEA; }
  #modal h3 {
    color: #000; }
  #modal span {
    font-size: 1.5vmin;
    color: #BCBCBC; }
  #modal > div {
    display: none; }
    #modal > div.modal-active {
      display: flex; }
  #modal #login, #modal #signup {
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 50%;
    padding: 0 0 2vmin 0;
    background: white;
    -webkit-box-shadow: 5px 5px 25px 1px #BCBCBC;
    -moz-box-shadow: 5px 5px 25px 1px #BCBCBC;
    box-shadow: 5px 5px 25px 1px #BCBCBC; }
    #modal #login #login-control, #modal #signup #login-control, #modal #signup #signup-control {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 5vmin;
      margin: 0 0 2vmin 0;
      padding: 0 1.5vmin 0 0;
      background: #000; }
      #modal #login #login-control .icon, #modal #signup #login-control .icon, #modal #signup #signup-control .icon {
        width: 2vmin;
        height: 2vmin;
        cursor: pointer; }
    #modal #login #login-form, #modal #signup #login-form, #modal #signup #signup-form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 75%;
      padding: 3vmin 5vmin; }
      #modal #login #login-form label, #modal #signup #login-form label, #modal #signup #signup-form label {
        display: none;
        font-size: 1.25vmin;
        color: #BCBCBC; }
      #modal #login #login-form input, #modal #signup #login-form input, #modal #signup #signup-form input {
        height: 5vmin;
        padding: 0 0 0 1vmin;
        background: transparent;
        border-bottom: 0.1vmin solid #BCBCBC;
        outline-color: #52c234; }
        #modal #login #login-form input[type='submit'], #modal #signup #login-form input[type='submit'], #modal #signup #signup-form input[type='submit'] {
          background: #52c234;
          border: none;
          -webkit-box-shadow: 5px 5px 25px 1px #BCBCBC;
          -moz-box-shadow: 5px 5px 25px 1px #BCBCBC;
          box-shadow: 5px 5px 25px 1px #BCBCBC;
          color: #fff; }
  #modal #signup {
    width: 50%;
    height: 70%;
    padding: 0; }
    #modal #signup #signup-form {
      flex-direction: row;
      justify-content: space-between; }
      #modal #signup #signup-form div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 47%;
        height: 90%; }
        #modal #signup #signup-form div:first-of-type {
          height: 40%; }
  #modal #cart {
    flex-direction: column; }

#notification {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 5vmin;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s; }
  #notification.visible {
    bottom: 5vmin;
    opacity: 1;
    transition: all 0.3s; }
  #notification h3 {
    color: #fff; }

::-webkit-scrollbar-track {
  background: #fff; }

::-webkit-scrollbar {
  width: 0.75vmin;
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #000; }

/*# sourceMappingURL=main.css.map */
