@import reset
@import variables
@import mixins

::selection
  background: $grayer
body
  overflow-x: hidden
  font-family: $content-font
header, section, footer
  display: flex
  width: 100vw
h1,h2,h3,h4,h5,h6
  font-family: $title-font
h1
  margin: 0 0 1vmin 0
  font-size: 8vmin
  text-transform: uppercase
  color: $main-color
h2
  font-size: 5vmin
h3
  font-size: 2.5vmin
  text-transform: uppercase
  letter-spacing: 0.1vmin
  color: $main-color
h4
  font-size: 3vmin
h5
  font-size: 2.5vmin
  text-transform: uppercase
mark
  background: none
  color: $main-color
p
  font-size: 2vmin
button
  width: 100%
  margin: 5vmin 0 0 0
  padding: 2vmin
  background: $main-color
  border: none
  @include shadow()
  font-family: $title-font
  font-size: 2.5vmin
  text-transform: uppercase
  color: #fff

input
  &:-webkit-autofill
    background: transparent

.logo
  width: 6vmin
  height: 6vmin
.logo_full
  width: 40vmin
.partner-logo
  width: 25vmin
.icon
  width: 5vmin
  height: 5vmin
*[data-role]
  cursor: pointer

#header
  justify-content: space-between
  height: 100vh
  padding: 5vmin
  background: linear-gradient(#fff, $gray)
  color: #fff
  p
    width: 75%
    font-family: $content-font-lighter
    font-size: 5.5vmin
    color: black
  > div
    width: 49%
    display: flex
    flex-direction: column
    &#intro
      display: flex
      flex-direction: column
      justify-content: space-between
    > div
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center
      width: 100%
      height: 70vh
    #navigation
      z-index: 101
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      width: 100%
      height: 10vh
      padding: 0 2vmin
      background: #fff
      @include shadow()
      color: black
      text-transform: uppercase
      &.pinned
        position: fixed
        top: 0
        width: 100% !important
        margin-left: -5vmin
        padding: 0 5vmin 0 5vmin
        transition: all .3s
        font-size: 2vmin
        #menu
          width: 50%
      #brand
        display: flex
        width: 40%
      #menu
        display: flex
        flex-direction: row
        justify-content: space-evenly
        width: 60%
        a
          font-family: $title-font
          &:hover
            color: $secondary-color
            transition: .3s
          &:not(:hover)
            color: black
            transition: .3s

  .carousel
    overflow: hidden
    position: relative
    @include shadow()
    .images
      display: flex
      width: 100%
      height: 100%
      position: relative
      left: 0
      top: 0
      img
        min-height: 100%
        max-height: 100%
        object-fit: cover
    .controls
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: space-between
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      .prev,
      .next
        height: 10%
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        opacity: 0
        transition: .3s all
        &:hover
          height: 20%
          opacity: 1
        svg
          fill: #fff
          border: 2px solid white
          border-radius: 50%
      .prev
        background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.3))
        svg
          transform: rotate(90deg)
      .next
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.3))
        svg
          transform: rotate(90deg)
    .status
      width: 20%
      height: 100%
      position: absolute
      right: 3vmin
      bottom: 0
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-end
      .bar
        display: block
        width: 1.5vmin
        height: 1.5vmin
        background: white
        border-radius: 50%
        cursor: pointer
        margin: 1vmin 0
        &.active
          background: $main-color

#shop
  justify-content: space-between
  height: 90%
  padding: 5vmin
  background: $gray
  #categories
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 23%
    height: 100%
    background: #fff
    @include shadow()
    .category
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 20%
      background: #fff
      cursor: pointer
      text-align: center
      &:hover
        h3
          color: $main-color
          transition: all 0.25s
      &:not(:hover)
        h3
          color: inherit
          transition: all 0.25s
      h3
        color: black
      .subcategory
        @extend .category
        display: none
        background: #fff
        pointer-events: all
      &.active
        flex-direction: column
        justify-content: flex-start
        height: 100%
        pointer-events: none !important
        > div
          &:first-of-type
            @extend .category
            height: 10%
            background: black
            cursor: default
            color: white
            pointer-events: none !important
            &:hover:before
              cursor: pointer
            &::before
              display: block
              content: '\279C'
              transform: rotate(180deg)
              position: absolute
              left: 5.75%
              font-size: 3vmin
              color: white
              pointer-events: all
            h3
              color: white
        .subcategory
          display: flex
          height: 20%
  #products
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-content: flex-start
    width: 75%
    height: 100%
    background: #fff
    @include shadow()
    .product
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 25%
      height: 33.33%
      padding: 3vmin
      >div
        display: none
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        border: 0.1vmin solid $main-color
        cursor: pointer
        >div
          display: flex
          flex-direction: row
          justify-content: space-between
          width: 100%
          margin: 1vmin 0 0
          padding: 1vmin
          background: $main-color
          border: none
          color: white
      h4
        display: none
        text-align: center
      p
        font-family: $title-font-lighter
      &:hover
        div
          display: flex
        h4
          display: block
  #product-detail
    @extend #products
    display: none
    flex-direction: row
    > div
      display: flex
      flex-direction: column
      width: 50%
      height: 100%
      &:first-of-type
        justify-content: center
      &:last-of-type
        justify-content: space-between
        padding: 5vmin
    .product-image
      height: 75%
    .product-info
      height: 65%
      > div
        &:first-of-type
          margin: 0 0 3vmin 0
          > div
            display: flex
            flex-direction: row
            align-items: flex-end
            h5
              margin: 0 0 1vmin 1vmin
              font-family: $title-font-lighter
        &:last-of-type
          table
            width: 100%
            tr
              display: flex
              flex-direction: row
              justify-content: space-between
              margin: 0 0 1vmin
              &:last-of-type
                margin: 0
              td
                font-family: $title-font
                font-size: 2.5vmin
                text-transform: uppercase
      h4
        margin: 0 0 1vmin
        font-size: 5vmin
      p
        font-family: $content-font-lighter
        font-size: 2.5vmin
        text-align: justify
    .product-control
      display: flex
      flex-direction: column
      justify-content: flex-end
      width: 100%
      height: 35%
      > div
        display: flex
        flex-direction: row
        justify-content: space-between
        &:first-of-type
          justify-content: flex-end
          > div
            height: 100%
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            width: 45%
            margin: 0 0 5vmin
            input
              width: 25%
              height: 3vmin
              padding: 1vmin
              background: transparent
              border: 0.1vmin solid $main-color
              outline-color: $main-color
              font-family: $title-font
              text-align: right
              &[type='number']
                -moz-appearance: textfield
                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
                  display: none
                  -webkit-appearance: none
                  margin: 0
            label
              font-family: $title-font
              font-size: 1.5vmin
              text-align: right
              text-transform: uppercase
        button
          width: 45%
          &:first-of-type
            background: $secondary-color

#contact
  justify-content: space-between
  height: 90%
  padding: 5vmin
  background-color: $gray
  h3
    margin: 0 0 0.75vmin
  > div
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 49%
    height: 100%
    #contact-info
      height: 35%
      ul
        li
          margin: 0 0 0.75vmin
          &:last-of-type
            margin: 0
    #help
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 65%
      background: white
      @include shadow()
      #help-control
        display: flex
        flex-direction: column
        justify-content: center
        width: 100%
        height: 25%
        padding: 2vmin
        background: url('../img/artwork.svg') no-repeat center center / cover
        color: #fff
        p
          line-height: 1.1
          //font-family: $content-font-lighter
      form
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-end
        width: 100%
        height: 75%
        padding: 2vmin
        background: transparent
        div
          display: flex
          flex-direction: row
          justify-content: space-between
          width: 100%
          margin: 0 0 2vmin 0
        input
          font-family: $title-font
          &:not([type="submit"])
            width: 49%
            height: 5vmin
            padding: 0 0 0 1vmin
            background: transparent
            border-bottom: 0.1vmin solid $grayer
            outline-color: $main-color
          &[type="submit"]
            width: 50%
            padding: 2vmin
            background: $main-color
            font-size: 1.75vmin
            text-transform: uppercase
            color: white
        textarea
          width: 100%
          height: 20vmin
          padding: 1vmin
          background: transparent
          border: 0.1vmin solid $grayer
          outline-color: $main-color
          font-family: $title-font
          font-size: 1.5vmin
          resize: none
    #important
      display: flex
      flex-direction: row
      justify-content: space-evenly
      align-items: center
      width: 100%
      height: 35%
      background: black
      color: #fff
      ul
        li
          margin: 0 0 0.75vmin
          font-size: 1.75vmin
          a
            &:hover
              border-bottom: 0.1vmin solid white
            &:not(:hover)
              border: none
    #partners
      display: flex
      flex-direction: column
      align-items: center
      height: 50%
      background: white
      h3
        color: black
      > div
        display: flex
        flex-direction: row
        justify-content: space-evenly
        align-items: flex-start
        width: 100%
        height: 70%
        &:first-of-type
          height: 30%
          flex-direction: column
          justify-content: center
          align-items: center

    #copy
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 100%
      height: 15%
      background: #fff
      color: black
    &:last-of-type
      @include shadow()
  h2
    margin: 0 0 1vmin
    letter-spacing: 0.1vmin
    color: $main-color
  address
    margin: 1vmin 0 0
    font-family: $title-font
    font-size: 3vmin
    color: black

/* modal styles */
#modal
  display: none
  z-index: 1000
  position: fixed
  overflow: hidden
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  background: $gray
  h3
    color: black
  span
    font-size: 1.5vmin
    color: $grayer
  > div
    display: none
    &.modal-active
      display: flex
  #login
    flex-direction: column
    align-items: center
    width: 25%
    height: 50%
    padding: 0 0 2vmin 0
    background: white
    @include shadow()
    #login-control
      display: flex
      justify-content: flex-end
      align-items: center
      width: 100%
      height: 5vmin
      margin: 0 0 2vmin 0
      padding: 0 1.5vmin 0 0
      background: black
      .icon
        width: 2vmin
        height: 2vmin
        cursor: pointer
    #login-form
      display: flex
      flex-direction: column
      justify-content: space-around
      width: 100%
      height: 75%
      padding: 3vmin 5vmin
      label
        display: flex
        font-size: 1.25vmin
        color: $grayer
      input
        height: 5vmin
        padding: 0 0 0 1vmin
        background: transparent
        border-bottom: 0.1vmin solid $grayer
        outline-color: $main-color
        &[type="checkbox"]
          width: 1.25vmin
          height: 1.25vmin
          margin: 0 0.5vmin 0 0
        &[type='submit']
          background: $main-color
          border: none
          @include shadow()
          color: #fff
  #signup
    @extend #login
    width: 50%
    height: 60%
    padding: 0
    a
      text-decoration: underline
      &:hover
        color: $main-color
        -webkit-transition: color .5s
        -moz-transition: color .5s
        -ms-transition: color .5s
        -o-transition: color .5s
        transition: color .5s
      &:not(:hover)
        color: $grayer
        -webkit-transition: color .5s
        -moz-transition: color .5s
        -ms-transition: color .5s
        -o-transition: color .5s
        transition: color .5s
    #signup-control
      @extend #login-control
    #signup-form
      @extend #login-form
      flex-direction: row
      justify-content: space-between
      height: 100%
      >div
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 47%
        height: 100%
        >div
          display: flex
          flex-direction: row
          height: 1.5vmin
        &:first-of-type
          height: 40%

noscript
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: #fff
  z-index: 1001
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-transform: uppercase
  #wait
    margin-bottom: 5vmin
    width: 10vmin
    height: 10vmin
    border-radius: 50%
    border-top: 3px solid $main-color
    transition: opacity 1s ease-in-out
    transform: rotate(0deg)
    animation: 1s infinite linear rotate

#notification
  z-index: 1000
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  bottom: 0
  left: 50%
  padding: 5vmin
  transform: translateX(-50%)
  opacity: 0
  transition: all .3s
  &.visible
    bottom: 5vmin
    opacity: 1
    transition: all .3s
  h3
    color: #fff

#loading
  z-index: 1000
  position: fixed
  bottom: 5vmin
  right: 5vmin
  width: 10vmin
  height: 10vmin
  border-radius: 50%
  border-top: 3px solid
  opacity: 0
  transition: opacity 1s ease-in-out
  transform: rotate(0deg)
  animation: 1s infinite linear rotate

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

::-webkit-scrollbar-track
  background: #fff
::-webkit-scrollbar
  width: 0.75vmin
  background: #fff
::-webkit-scrollbar-thumb
  background: black