@import variables

@mixin bg-img($img)
  background: url($img) no-repeat center center / contain
@mixin shadow()
  -webkit-box-shadow: 0 0 2.5vmin 0.25vmin $grayer
  -moz-box-shadow: 0 0 2.5vmin 0.25vmin $grayer
  box-shadow: 0 0 2.5vmin 0.25vmin $grayer