@font-face
  src: url("../font/Roboto-Light.ttf") format("truetype")
  font-family: "Roboto-Light"

@font-face
  src: url("../font/Roboto-Regular.ttf") format("truetype")
  font-family: "Roboto-Regular"

@font-face
  src: url("../font/Axis-Extrabold.otf") format("opentype")
  font-family: "Axis"

$title-font: "Axis", sans-serif
$content-font: "Roboto-Regular", sans-serif
$content-font-lighter: "Roboto-Light", sans-serif

$main-color: #52c234
$secondary-color: #DE9E33
$dark: #000
$gray: #EAEAEA
$grayer: #BCBCBC