@font-face
  src: url("../font/Roboto-Light.ttf") format("truetype")
  font-family: "Roboto-Light"

@font-face
  src: url("../font/Roboto-Regular.ttf") format("truetype")
  font-family: "Roboto-Regular"

@font-face
  src: url("../font/RobotoSlab-Regular.ttf") format("truetype")
  font-family: "RobotoSlab-Regular"

@font-face
  src: url("../font/RobotoSlab-Bold.ttf") format("truetype")
  font-family: "RobotoSlab-Bold"

@font-face
  src: url("../font/Axis-Extrabold.otf") format("opentype")
  font-family: "Axis"

$title-font: "Axis", sans-serif
$content-font: "Roboto-Regular", sans-serif
$content-font-lighter: "Roboto-Light", sans-serif

$main-color: #7F00FF
$main-color-darker: #470090
$secondary-color: #53C1E0
$gray: #EAEAEA